@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f3f4f6; /* Hafif gri arka plan */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --- REACT CALENDAR ÖZELLEŞTİRME --- */
.react-calendar {
  width: 100%;
  background: white;
  border: none;
  font-family: inherit;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1rem;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 16px;
  font-weight: bold;
  color: #2c3e50; /* dark */
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  color: #9ca3af; /* gray-400 */
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  border-radius: 8px;
  height: 60px; /* Kare olması için */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6f7ff;
}

.react-calendar__tile--now {
  background: #fffbe6;
  border: 1px solid #ffe58f;
}

.react-calendar__tile--active {
  background: #3498db !important; /* primary */
  color: white;
}